[Desktop Entry]
Version=1.0
Name=Zen Browser
GenericName=Web Browser
Comment=Experience tranquillity while browsing the web without people tracking you!
Exec=zen %u
StartupNotify=true
Terminal=false
Icon=zen
Type=Application
Categories=Network;WebBrowser;
Keywords=Internet;WWW;Browser;Web;Explorer
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Actions=new-window;new-private-window;profilemanager;
X-MultipleArgs=false
StartupWMClass=zen

[Desktop Action new-window]
Name=Open a New Window
Exec=zen %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=zen --private-window %u

[Desktop Action profilemanager]
Name=Open the Profile Manager
Exec=zen --ProfileManager %u
