[Desktop Entry]
Version=1.0
Name=Vesktop
GenericName=Internet Messenger
Comment=Vesktop is a custom Discord desktop app
Exec=/usr/bin/vesktop %U
Terminal=false
Icon=vesktop
Type=Application
Categories=Network;
Keywords=discord;vencord;electron;chat;
MimeType=x-scheme-handler/discord;
StartupWMClass=Vesktop
